---
import "../app.scss"
---
<!doctype html>
<html class="no-js" lang="nb">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Studentkjelleren Escape leies ut til arrangementer. Detaljer finner du her."/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <title>Cybernetisk Selskab - Utlån & leie av Escape</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400" rel="stylesheet">
    <!-- js-bundle not required on this page -->

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Studentkjelleren Escape leies ut til arrangementer. Detaljer finner du her.">

    <!-- Open Graph data -->
    <meta property="og:title" content="Cybernetisk Selskab / Escape"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://cyb.no/x.html"/>
    <meta property="og:image" content="http://cyb.no/2016-assets/faglig-escape.jpg"/>
    <meta property="og:description"
          content="Studentkjelleren Escape leies ut til arrangementer. Detaljer finner du her."/>
    <meta property="fb:app_id" content="220332021664621"/>
  </head>
  <body>
    <div class="logo-top"><a href="/"><img src="img/cyb-stor.svg"/></a></a></div>
    <div class="main">
      <h1>404...</h1>
      <p class="teaser">The page you are looking for cannot be found, or does not exist 😢
      </p>
    </br>
    </br>
    </div>
    </div>

    <div class="footer-wrapper">
      <div class="footer">
        <div>
          <h3>Nyttige lenker</h3>
          <ul>
            <li><a href="https://www.facebook.com/cybernetisk">CYB på Facebook</a></li>
            <li><a href="https://www.facebook.com/escapeoslo">Escape på Facebook</a></li>
            <li><a href="https://www.instagram.com/cybernetisk">Instagram</a></li>
            <li><a href="http://vedtekter.cyb.no/">Vedtekter</a></li>
            <li><a href="https://github.com/cybernetisk">Github</a></li>
            <li><a href="https://github.com/cybernetisk/cybno/edit/master/public/index.html">Rediger nettsiden</a></li>
          </ul>
        </div>
        <div class="seksseks">
          <h3>Om CYB</h3>
          <p>Cybernetisk Selskab er instituttforeningen ved Institutt for informatikk ved Universitetet i Oslo.</p>
          <p>Besøksadresse: Gaustadalléen 23b, 0373 Oslo, Norge</p>
        </div>
      </div>
    </div>
  </body>
</html>
