body {
  margin: 0;
  background-color: #212020;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  overflow-x: hidden;

}

.arrow {
  position: relative;
  top: 40px;
  left: 10px;
  width: 28px;
  height: 28px;
  background: transparent;
  border-top: 4px solid white;
  border-right: 4px solid white;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
  transform: translate3d(0,-50%,0) rotate(-135deg);
  display: block;
}

.arrow:before {
  content: '';
  transform: translate(-40%,-60%) rotate(45deg);
  width: 200%;
  height: 200%;
}

.logo-top {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  margin: 80px auto 40px;
  flex-direction: row-reverse;
}

.main {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main > * {
  margin-bottom: 100px;
  margin-top: 0;
}

.main > h1 {
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 60px;
  margin-top: 30px;
}

h2 {
  font-weight: 400;
  margin-top: 0;
  font-size: 35px;
}

.flex-two {
  display: flex;
  width: 100%;
}

.flex-two > div {
  width: 50%;
}

.white-bg {
  background-color: white;
  color: black;
}

.foredrag {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-wrapper {
  background-color: #1A1A1A;
  width: 100%;
}

.footer {
  display: flex;
  max-width: 1100px;
  margin: 40px auto;
  margin-bottom: 60px;
}

.footer > div {
  width: 33%;
}

a {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.white-bg a {
  color: black;
}

footer > h3 {
  font-weight: 400;
  color: #b2b2b2;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 20px;
}

.utlan-vilkar {
  line-height: 30px;
}

.faq p {
  margin-bottom: 0;
  margin-top: 0;
}

.footer a {
  text-transform: none;
  font-weight: 300;
}

.desc {
  margin-top: 0;
}

.name {
  margin-top: 35px;
  margin-bottom: 0;
}

#next-events-public > div >  ul:first-child > .name {
  margin-top: inherit;
}

.rent {
  width: calc(100% + 200px);
  margin-left: -100px;
  margin-right: -100px;
}

.rent-text {
  padding: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer ul {
  line-height: 30px;
  justify-content: space-between;
}

.footer {
  color: #9a9a9a;
}

.footer ul a {
  color: #9a9a9a;
}

.main > .teaser {
  font-size: 26px;
  margin-top: -50px;
  margin-bottom: 70px;
}

.footer > .seksseks {
  width: 66%;
}

.int-event-title {
  margin-bottom: 10px;
}

.int-event {
  margin-top: 0;
  margin-bottom: 0;
}

#next-events-intern > div > ul > li {
  display: inline-block;
  margin: 0;
}

#next-events-intern > div > ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

#next-events-intern > div > ul > .desc::after {
  content: ' ';
  white-space: pre;

}



.board-name-and-mobile div div {
  display: none;
}

@media only screen and (max-width: 1150px) {
  .rent {
    width: calc(100% + 250px);
    margin-left: -125px;
    margin-right: -125px;
  }
  .rent-text {
    padding: 125px;
  }

  .rent > div {
    width: 100%;
  }

  .foredrag-par {
    display: none;
  }
  .main, .footer {
    margin-left: 125px;
    margin-right: 125px;
  }
  .board-desktop {
    display: none;
  }

  .flex-two > .board-name-and-mobile {
    width: 100%;
  }

  .board-name-and-mobile a, .board-name-and-mobile > div > div {
    margin-bottom: 0;
  }

  .board-name-and-mobile > div > div {
    color: #9a9a9a;
  }

  .board-name-and-mobile div {
    display: block;
    margin-top: 0;
  }
}

@media only screen and (max-width: 750px) {
  .flex-two {
    flex-direction: column;
  }
  .flex-two > div {
    width: 100%;
  }

  .main > * {
    margin-bottom: 50px;
  }

  .main, .footer {
    margin-left: 0;
    margin-right: 0;
    width: 90vw;
  }

  .main > h1 {
    width: 100%;
    font-size: 40px;
    letter-spacing: 2px;
  }

  .main > .teaser {
    font-size: 20px;
    margin-top: 0;
  }

  .logo-top {
    display: flex;
    width: 90vw;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .flex-two > *:last-child {
    margin-top: 30px;
  }

  .flex-two > .board-name-and-mobile {
    margin-top: 0;
  }

  .rent {
    width: calc(100% + 10vw);
  }

  .rent-text {
    padding: 15vw 5vw;
  }

  .footer {
    flex-direction: column-reverse;
    margin: 10px auto;
  }
  .footer > div, .footer .seksseks {
    width: 100%;
  }
}
