@import 'vars';

@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-menu;
@include foundation-top-bar;
@include foundation-button;
@include foundation-visibility-classes;
@include foundation-float-classes;

body > header.top-bar {
  font-size: 1.5rem;
  margin-bottom: 1rem;

  .menu-text {
    line-height: 2rem;
  }
}

.page-logo {
  display: inline-block;
  padding: 0 0 0 1rem;

  img {
    height: 3rem;
  }
}

.page-dl {
  dt {
    @include breakpoint(large) {
      clear: left;
      float: left;
      min-width: 14rem;
    }
    margin: 0;
    padding-right: 1rem;
  }
}

.page-bottom {
  margin-bottom: 1rem;
}

.event-when {
  color: #666;
}

.utlan-vilkar {
  font-size: 0.8em;
}
